numpy
scipy
cython
torch
ConfigParser
click
ConfigArgParse
pymongo
iteration_utilities
tqdm
tensorboardX
notebook==6.1.4
zarr
git+git://github.com/nilsec/pymaid@master
-e git+https://github.com/funkey/gunpowder@754607abcd3c84ec28c0d2ea257b969934ce986d#egg=gunpowder
-e git+https://github.com/funkelab/daisy@0.3-dev#egg=daisy
-e git+https://github.com/funkelab/funlib.learn.torch@636813e60d48379d078b5458e40bdf23269631b3#egg=funlib.learn.torch
-e git+https://github.com/funkelab/funlib.show.neuroglancer@master#egg=funlib.show.neuroglancer
-e git+https://github.com/funkelab/funlib.math@master#egg=funlib.math
-e git+https://github.com/funkelab/funlib.run@master#egg=funlib.run
